
body{
  background-image: url(images.jpg);  
  background-size: cover;
}
.keys{
    position:absolute;
    top:25%;
    left:20%;
}
.key{
    display: inline-block;
border: 2px solid rgb(118, 214, 54);
border-radius: 5px;
margin:10px;
padding:7px;
color:white;
box-shadow:0 0 4px slateblue;
transition: all 0.07s;
background-color: rgba(224, 210, 210, 0.315)
}
.key kbd{
    display: block;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 5px black;
    
}
.playing{
    transform:scale(1.1);
    border-color:black;
    box-shadow: 0 0 5px black;
}
.sound {
    color:brown;
    text-align: center;
}